<%- include('header') %>
<%- include('nav') %>

<div class="container">
  <h1>The Diamond Casino & Resort</h1>
  <p class="muted">Connecté: <b><%= session.email %></b></p>

  <div class="grid">
    <a class="tile" href="/blacklist">Gérer BlackList</a>
    <a class="tile" href="/employes">Gérer Employés</a>
    <a class="tile" href="/entreprises">Gérer Entreprises</a>
  </div>
</div>

</body></html>
